body {
  background-color: #E6E6FA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: #6495ED;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.parentSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subSection {
  display: flex;
  flex-direction: row;
}

.quesSection {
  width: 100%;
  position: relative;
}

.quesCount {
  margin-bottom: 20px;
}

.quesCount span {
  font-size: 28px;
}

.quesText {
  margin-bottom: 12px;
}

.ansSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreSection {
  display: flex;
  font-size: 24px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.resultList{
  display: flex;
  flex-direction: column;
}